emojis
search_engine_parser
aiofiles
apscheduler
bs4
blackpink
psycopg2
gpytranslate
matplotlib
motor
openai
pyttsx3
pymongo
pillow
pickledb<1
pySmartDL
arq
gtts
ffmpeg-python
py-tgcalls
pyrogram
prettytable
python-dotenv
requests
speedtest-cli==2.1.3
tgcrypto
telegraph
wget
wikipedia
youtube_search
yt_dlp
carbon
lexica-api
pykeyboard
g4f

