emojis
search_engine_parser
aiofiles
apscheduler
bs4
blackpink
psycopg2
gpytranslate
matplotlib
motor
openai
pymongo
pillow
pickledb<1
pySmartDL
arq
ffmpeg-python
py-tgcalls==0.9.7
pyrogram
prettytable
python-dotenv
speedtest-cli==2.1.3
tgcrypto
telegraph
wget
wikipedia
youtube_search
yt_dlp
carbon
lexica-api
pykeyboard
g4f
pydub


